@import "colors";
@import "header";

body {
    background: $background;
    color: $text;
    margin: 1% auto;
    width: 75%;
    max-width: 1600px;
    font-family: 'Fira Code', monospace;
}

p {
    margin: 1em 35px;
}

a {
    text-decoration: none;
    color: $green;
}

body h1, body h2, body h3 {
    margin: 1em 0em;
    font-size: 26px;
}
body h4, body h5, body h6 {
    margin: 1em 0em 0.5em 0em;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
}

.article-title{
    color: $text;
    font-size: 32px;
    text-align: center;
}

.article-title:before {
    content: none;
}

h1 {
    color: $pink;
}
h1:before {
    content: "* ";
}

h2 {
    color: $purple;
}
h2:before {
    content: "** ";
}


h3 {
    color: $secondary;
}
h3:before {
    content: "*** "
}

h4 {
    color: $secondary;
}
h4:before {
    content: "**** ";
}

h5 {
    color: $secondary;
}
h5:before {
    content: "***** ";
}

h6 {
    color: $secondary;
}
h6:before {
    content: "****** ";
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0px 35px;
}

th, td {
    border: 2px solid $line;
    padding: 5px 10px;
}

th {
    font-weight: bold;
    font-size: 20px;
}

td {
    border-top: 1px solid $line;
    padding: 10px;
}

blockquote {
    border-left: 4px solid $secondary;
    margin: 0px 0px 0px 35px;
    padding: 1em;
    background-color: $line;
}

footer {
    font-size: 12px;
    color: $secondary;
    border-top: 1px solid $line;
    margin: 2em 0px;
    padding: 1em;
}

footer a {
    color: $purple;
}

dl {
    padding: 0px 35px;
}

dt {
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    border-bottom: 1px solid $line;
    margin: 10px 0px;
    color: $text
}

dd {
    color: $text
}

.language-plaintext {
    background: $line;
    padding: 5px 10px;
    color: $text;
    overflow-y: hidden;
}

pre code {
    padding: 10px 20px;
}

ol {
    padding-left: 35px;
}

ul {
    padding-left: 35px;
}
